<div class="course-card rounded text-center my-2"
    [ngClass]="course.category === categoryType.beginners 
        ? 'beginner' : 'advanced'">
    <div class="fw-bold p-2 course-title">
        {{index}}: {{course.description}}
    </div>
    <div>
        <img [src]="course.imageUrl" alt="course_image" 
            loading="lazy" class="w-100 course_image" />
    </div>
    <div class="course-description p-2 text-start">
        {{course.longDescription}}
    </div>
    <div class="p-2">
        <button class="btn btn-primary" (click)="viewCourse()">View Course</button>
    </div>
</div>