
.course-card {
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
}

.course-title {
    font-size: 27px;
}

.course-description {
    user-select: none;
}

.first-course {
    border-top: 2px solid gray;
    padding-top: 20px;
}

.last-course {
    border-bottom: 2px solid gray;
    padding-top: 20px;
}

.even-course {
    background-color: lightgray;
}

.odd-course {
    background-color: lightcyan;
}