<div class="course-card rounded text-center my-2 position-relative overflow-hidden">
    <div class="fw-bold p-2 course-title">
        {{course.description}}
    </div>
    <div>
        <img [src]="course.imageUrl" alt="course_image" class="w-100 course_image" />
    </div>
    <div class="course-description p-2 text-start text-truncate">
        {{course.longDescription}}
    </div>

    <span class="course-category-badge top-left" [style.background-color]="backgroundColor">
        @switch(course.category) {
            @case (categoryType.beginners) {
                Beginners
            }
            @case (categoryType.intermediate) {
                Intermediate
            }
            @case (categoryType.advanced) {
                Advanced
            }
            @default {
                Other
            }
        }
    </span>

    <div class="px-2 pt-2 pb-4">
        <button class="btn btn-outline-primary" (click)="viewCourse()">View Course</button>
    </div>
</div>