<div class="p-2 text-light d-flex justify-content-between channel-name">
    <div class="ps-2">
        <h1>Future Code - {{data.courseName}}</h1>
        <ng-container>
            {{data.lessonName}}
        </ng-container>
    </div>
    <img src="assets/images/future_code.png" alt="image" class="channel-logo" loading="lazy" />
</div>

<div class="container-fluid">
    <div class="row">
        <!-- @for (course of courses; track course.id;
            let count = $count) {
                Courses Count: {{count}}
            <div class="col-md-4 col-12">
                <app-course-card [course]="course" [index]="$index"
                    [class.first-course]="$first"
                    [class.last-course]="$last"
                    [class.even-course]="$even"
                    [class.odd-course]="$odd"
                    (viewCourseEvent)="onCourseClicked($event)" />
            </div>
        } @empty {
            <h1>No Courses Found!</h1>
        } -->

        <div *ngFor="let course of courses; index as i; first as isFirst;
            last as last; even as even; odd as odd; count as count" class="col-md-4 col-12">
            {{count}}
            <app-course-card [course]="course" [index]="i"
                [class.first-course]="isFirst"
                [class.last-course]="last"
                [class.even-course]="even"
                [class.odd-course]="odd"
                (viewCourseEvent)="onCourseClicked($event)" />
        </div>
    </div>
</div>