.channel-name {
    background-color: #000;
}

li {
    padding-bottom: 2px;
    cursor: pointer;
}

.nav-link {
    margin: 0 4px;
    cursor: pointer;
}

.nav-link-inner {
    border-radius: 4px;
    font-size: 1rem;
    // font-size: clamp(10px, 1.6rem, 20px);
    padding: 8px;
    // padding: 8px clamp(5px, 0.7vw, 16px);
}

.active {
    background: rgb(39, 39, 39);
    border-radius: 2px;
}

.nav-link:hover {
    background: rgb(39, 39, 39);
    border-radius: 2px;
}

.header {
    background-color: #000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid red;
    right: 0;
    left: 0;
    padding: 0.5rem;
    z-index: 2;
}