<div class="p-2 text-light d-flex flex-column channel-name">
    <h1>Future Code - {{data.courseName}}</h1>
    <ng-container>{{data.lessonName}}</ng-container>
</div>

<div class="container-fluid">
    <div class="row">
        @for (course of courses; track course.id) {
        <div class="col-md-4 col-12">
            <app-course-card [course]="course" [index]="$index"
                (viewCourseEvent)="onCourseClicked($event)" />
        </div>
        } @empty {
        <h1>No Courses Found!</h1>
        }
    </div>
</div>