.even-course {
    .course-card {
        background-color: lightgray;
    }
}

.odd-course {
    .course-card {
        background-color: lightcyan;
    }
}

.first-course {
    .course-card {
        border-top: 5px solid #000;
    }
}

.last-course {
    .course-card {
        border-bottom: 5px solid #000;
    }
}